{% extends 'base.html' %}

{% block content1 %}

<div class="container">
    <div>
        <div class="row">

            <div class="col-12 col-md-6 offset-md-3 shadow-sm rounded my-md-4">
        
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Usuario</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Contraseña</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                  <span class="alert-login">Su usuario y contraseña no coinciden,<br> Por favor intente otra vez.</span>
                {% endif %}
                <input type="submit" class="btn btn-primary btn-center" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content1 %}