:root{
    --black:#060a1b;
    --blueDark:#0f3350;
    --blueLightDark:#1d6891;
    --blueLight:#2b9fc8;
    --blueMarine:#2bcac8;
}

body{
    font-family: 'Source Sans Pro',sans-serif;
    background-color: whitesmoke;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

/*Header*/

.navbar{
    font-size:1.4vw;
    text-align: center;
}



.navbar-logo{
    padding: 0;
    margin:0;
    width: 25%;
    text-align: left;
    font-size: 3vw;
    text-decoration: none;
    font-weight: 300;
}



.btn-outline-blue{
    color:var(--blueDark);
    border-color: var(--blueDark); 
}
.btn-outline-blue:hover{
    background-color: var(--blueLightDark);
    color:white;
}

.footer-c{
    position: relative;
    background-color: rgb(230, 228, 228);
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
}

.hero{
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 0;
    margin-bottom: 0%;
    border-left:1px solid rgb(216, 214, 214);
    border-right:1px solid rgb(216, 214, 214);
    border-radius: 2px;
}

/* Css home_list*/
.fecha-p{
    font-style: italic;
    font-size: medium;
    font-weight: lighter;
}

.linea-lateral{
    border-left: thin solid rgb(216, 214, 214);
  }

.titulo-g{
    border-bottom:2px solid var(--blueDark);
}
.shadow-pre{
    box-shadow: 0.2rem .2rem .15rem rgba(0,0,0,.075)
}


 




/*Responsive menu nav fon size*/
@media only screen and (max-width: 780px) {
    .navbar-logo{
        font-size: 6vh;
    }

    .navbar{
        font-size:4vw;
        text-align: center;
    }

    .linea-lateral{
        border-top: medium solid rgb(216, 214, 214);
        border-left: none;
        margin-top: 1rem;
      }
  }


