:root{
    --black:#060a1b;
    --blueDark:#0f3350;
    --blueLightDark:#1d6891;
    --blueLight:#2b9fc8;
    --blueMarine:#2bcac8;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: whitesmoke;
}

h1,h2,h3,h4,h5{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
}

/*Header*/

.navbar{
    font-size:1.4vw;
    text-align: center;
}



.navbar-logo{
    padding: 0;
    margin:0;
    width: 25%;
    text-align: left;
    font-size: 2vw;
    text-decoration: none;
    font-weight: 300;
}



.btn-outline-blue{
    color:var(--blueDark);
    border-color: var(--blueDark); 
}
.btn-outline-blue:hover{
    background-color: var(--blueLightDark);
    color:white;
}

.footer-c{
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 2rem;
}

@media only screen and (max-width: 720px) {
    .navbar-logo{
        font-size: 4vh;
    }

    .navbar{
        font-size:3.4vw;
        text-align: center;
    }
  }


