:root{
    --black:#060a1b;
    --blueDark:#0f3350;
    --blueLightDark:#1d6891;
    --blueLight:#2b9fc8;
    --blueMarine:#2bcac8;
}

body{
    font-family: 'Source Sans Pro',sans-serif;
    background-color: whitesmoke;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

/*Header*/

.navbar{
    font-size:1rem;
    text-align: center;
}



.navbar-logo{
    padding: 0;
    margin:0;
    text-align: left;
    font-size: 3rem;
    text-decoration: none;
    font-weight: 300;
}



.btn-outline-blue{
    color:var(--blueDark);
    border-color: var(--blueDark); 
}
.btn-outline-blue:hover{
    background-color: var(--blueLightDark);
    color:white;
}

.footer-c{
    position: relative;
    background-color: rgb(230, 228, 228);
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
}

.hero{
    position: relative;
    width: 90%;
    left: 5%;
    padding-bottom: 0;
    margin-bottom: 0%;
    border-left:1px solid rgb(216, 214, 214);
    border-right:1px solid rgb(216, 214, 214);
    border-radius: 2px;
}

/* Css home_list*/
.fecha-p{
    font-style: italic;
    font-size: medium;
    font-weight: lighter;
}

.linea-lateral{
    border-left: thin solid rgb(216, 214, 214);
  }

.titulo-g{
    border-bottom:2px solid var(--blueDark);
}
.shadow-pre{
    box-shadow: 0.2rem .2rem .15rem rgba(0,0,0,.075)
}

.post-link {
    text-decoration: none;
    color:var(--black);
}
.post-link:hover{
    color: var(--black);
}

/*Paginator */

.paginator{
    font-size: 1rem;
    border:.1rem solid rgb(216, 214, 214);
    color: black;
    border-radius:.2rem ;
    padding: .3rem .7rem .3rem .7rem;
    margin: 0;
    font-size: large;
}

.paginator a{
    color: var(--blueDark);
    text-decoration: none;
    font-weight: bold;
}

.btn-paginator{
    color:rgb(216, 214, 214);
    background-color: var(--blueDark);
    border:.1rem solid rgb(216, 214, 214);
    border-radius:.2rem ;
    font-size: 1rem;
    padding: .4rem .7rem .4rem .7rem;
}

.btn-paginator a{
    color:rgb(216, 214, 214);
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
}

.paginator-label{
    position: relative;
    font-size: 1rem;
    left: 0;
    top:25%;
    border:.1rem solid rgb(216, 214, 214);
    border-radius:.2rem ;
    padding: .1rem .1rem .1rem .1rem;
    margin: 0;
    font-size: medium;
}




/*Login Template*/
.btn-center{
    position: relative;
    background-color: var(--blueDark);
    border-color: var(--blueDark);
    left: 45%;
}

.alert-login{
    color:rgb(182, 19, 19);
    border: .1rem solid rgb(182, 19, 19);
    border-radius: .5rem;
    text-align: center;
}


.btn-center:hover{
    background-color: var(--blueLightDark);
    border-color: var(--blueDark);
} 
 




/*Responsive menu nav fon size*/
@media only screen and (max-width: 767px) {
    .navbar-logo{
        font-size: 3rem;
    }

    .navbar{
        text-align: center;
    }

    .linea-lateral{
        border-top: medium solid rgb(216, 214, 214);
        border-left: none;
        padding-top: 1rem;
      }
  }

  @media only screen and (max-width: 320px){
      .paginator{
          font-size: small;
      }
      .btn-paginator{
          font-size: small;
      }
  }


