{% extends 'base.html' %}






{% block content1 %}
<!-- Hero Section-->
<div class="titulo-g">
    <h2>Ultimos Posts</h2>
</div>

{% for post in blog_list %}
    <div class="hero-post-l shadow-pre rounded my-md-4"> <!--Post -->
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid mr-md-auto" alt="{{post.slug}}" src="{{post.imagen}}"> <!--img-fluid imagen inicio de post(responsive a su contenedor)-->
            </div>
            <div class="col-md-9">
                <h2><a class="post-link"href="{% url 'blog:post_detail' post.slug %}"> {{post.titulo}}</a><br><span class="fecha-p"><i class="far fa-calendar-alt"></i> {{post.creacion_en|date}}</span></h2>
                <p>{{post.descripcion}}</p> 
                <span style="font-size:0;">{% for categoria in post.categoria.all %} {{ categoria }}{% endfor %}</span>
            </div>
        </div>
    </div>

    

{% empty %}
    <div class="hero-post shadow-pre">No hay ningun post hasta el momento</div>
{% endfor %}
    {% block paginacion %}
        <div class="row ">
            <div class="col-12 col-lg-6 offset-lg-3 text-center py-2">
                                   

                {% if blog_list.has_previous %}
                    <span class="btn-paginator"><a href="?page=1">&laquo;&laquo;&laquo;</a></span>
                    <span class="paginator"><a href="?page={{ blog_list.previous_page_number }}">{{blog_list.previous_page_number}}</a></span>
                    <span class="paginator"> {{ blog_list.number }} </span>
                {% else %}
                 <span class="paginator">{{ blog_list.number }}</span>
                {% endif %}

                
                {% if blog_list.has_next %}
                    <span class="paginator"><a href="?page={{ blog_list.next_page_number }}">{{blog_list.next_page_number}}</a></span>
                    <span class="btn-paginator"><a href="?page={{ blog_list.paginator.num_pages }}"> &raquo;&raquo;&raquo;</a></span>
                {% endif %}                    
            </div>

            <div class="col-12 col-lg-3 text-center py-2"><span class="paginator-label" >
                Página {{ blog_list.number }} de {{ blog_list.paginator.num_pages }}
            </span></div>
        </div>
        

        {% endblock paginacion %}

    {% endblock content1 %}


    {% block content2%}
    <div class="titulo-g">
    <h2>Post mas recientes</h2>
    </div>

    {% for post in recent_post %}
    <div class="hero-post-r shadow-pre rounded my-md-4"> <!--Post -->
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" alt="{{post.slug}}" src="{{post.imagen}}"> <!--img-fluid imagen inicio de post(responsive a su contenedor)-->
            </div>
            <div class="col-md-9">
                <h4><a class="post-link" href="{% url 'blog:post_detail' post.slug %}"> {{post.titulo}}</a><br><span class="fecha-p"><i class="far fa-calendar-alt"></i> {{post.creacion_en|date}}</span></h4>
                <p>{{post.descripcion}}</p> 
            </div>
        </div>
    </div>
    {% empty %}
        <div class="hero-post shadow-pre">No hay ningun post hasta el momento</div>
    {% endfor %}

    <div class="titulo-g">
        <h2>Categorias</h2>
        </div>
        <div class="container">   

    <div class="row align-items-center">
        {% for categoria in categorias %}
        <div class="shadow-pre col-6 col-sm-5 offset-sm-1 text-center">
            <a class="post-link" href="{% url 'blog:all' %}?search={{categoria.nombre}}">{{categoria.nombre}}</a>
        </div>
    {% endfor %}
</div>

</div>
{% endblock content2%}


