{% extends 'base.html' %}


{% block contentExpand %}
{% load static %}
<div class="col-12 p-1 p-sm-5 m-auto rounded-2 resaltar">
 <div class="row">
    <div class="col-12 col-lg-4 py-2">
        <img class="img-fluid mx-auto text-center"src="{% static 'img/android-chrome-512x512.png' %}" alt="imgen-presentacion">
    </div>

    <div class="col col-lg text-justify fs-4">
        <h1>Bienvenido a LavCode</h1>
         <p>Mi nombre es Cristian David Lavacude Galvis creador de esta página, la cual surge como proyecto en el cual inicialmente pienso llevar una documentación de mi camino como desarrollador web. Para nadie es un secreto que una de las maneras que se aprende a programar es practicando todo lo posible y esta página es una forma de aplicar mis conocimientos, mientras los comparto con las personas que lo necesiten.</p>
         <p>
        Así, que espero disfrutes el contenido y se te fue de ayuda en algún momento lo compartas.
        </p>
    </div>


 </div>
</div>
{% endblock contentExpand %}