{% extends 'base.html' %}

{% block content1 %}
<!-- Hero Section-->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis maiores harum dolor assumenda, labore reprehenderit! Quam, ipsum impedit quos ratione molestiae aspernatur omnis? Officiis iste id voluptates laudantium dolorem tenetur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. A enim dicta fugit impedit atque aut aliquid praesentium, ad officia laudantium alias ipsum distinctio consequuntur eum provident deserunt, sit corrupti neque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste laudantium id, dicta libero officia nihil tempora inventore dolorum minus ratione mollitia, ullam quis esse, officiis odio suscipit nulla sunt provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perferendis porro repellendus, magnam praesentium veritatis dolorum quae molestias accusamus ad vitae omnis placeat, neque dolorem ab laborum officia consectetur! Vel!</p>

{%endblock content1%}

{% block content2%}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ducimus modi molestias! Iure ex dolorem fugit voluptate doloribus possimus, veritatis corrupti sapiente velit. Sit, excepturi saepe. Illum odio atque eum.<br>
 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum totam, expedita repudiandae voluptatibus adipisci suscipit, et itaque ipsa soluta ratione illo. Similique placeat distinctio voluptas minima error fugit vitae!
</p>
{%endblock content2%}


